@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.App {
  text-align: center;
}


.visible {
visibility:visible;
color:green;
}

.hide{
    visibility:visible;
    color:red;
    }

    .complete {
      text-decoration: line-through;
      opacity: 0.4;
    }
  
    .todo-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4px auto;
      color: #fff;
      background: linear-gradient(
        90deg,
        rgb(53, 24, 219) 0%,
        rgb(69, 141, 235) 100%
        );
        border-radius: 20px;
        height: 50px;
        padding: 0px 20px;
    }

    .bigcontainer{
    width:500px;
    margin:auto;
    margin-top:150px;
    }

    button{
      height: 40px;
      width: 70px;
      border-radius:3px;
      border: orange solid 5px;
      box-shadow: -3px 5px lightgrey;
      font-family: 'Dancing Script', cursive;
      font-size: large;
      
    }

    .buttontodo{
      height: 30px;
      width: 70px;
      border-radius:3px; 
      border: lightblue solid 3px;
      box-shadow: none; 
      margin: 5px;   
    }

    .btn-container{
      display:flex;
justify-content: space-around;
width: 140px;
    }

    .todo-input{
      height:30px;
      margin-right: 5px;
      border: orange solid 5px;
      border-radius: 3px;
      box-shadow: -3px 5px lightgrey;
      font-family: 'Dancing Script', cursive;
      text-align: center;
      font-size: 30px;
    }

    .title{
      font-family: 'Dancing Script', cursive;
      font-size: 50px;
    }

    .todo-container{
      min-height: 400px;
      margin-bottom: 32px;
      font-family: 'Dancing Script', cursive;
      font-size: 30px;
    }

